@font-face {
  font-family: "iconfont"; /* Project id 3352616 */
  src: url('iconfont.woff2?t=1653916595917') format('woff2'),
       url('iconfont.woff?t=1653916595917') format('woff'),
       url('iconfont.ttf?t=1653916595917') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e745";
}

.icon-search:before {
  content: "\e67e";
}

.icon-Bomb:before {
  content: "\ece8";
}

.icon-flag:before {
  content: "\e6c4";
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-comment:before {
  content: "\e668";
}

.icon-bar-chart-line:before {
  content: "\e6c6";
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-fangwenliang:before {
  content: "\e634";
}

.icon-wenzhang:before {
  content: "\e67d";
}

.icon-31huidaodingbu:before {
  content: "\e621";
}

.icon-pinglunxiao:before {
  content: "\e8b9";
}

.icon-pinglun:before {
  content: "\e621";
}

.icon-zan:before {
  content: "\e6b6";
}

.icon-chakan:before {
  content: "\e6bd";
}

.icon-pencil:before {
  content: "\e923";
}

.icon-icon_avatar:before {
  content: "\e620";
}

.icon-add-row:before {
  content: "\e61c";
}

.icon-add-column:before {
  content: "\e61d";
}

.icon-delete-row:before {
  content: "\e61e";
}

.icon-delete-column:before {
  content: "\e61f";
}

.icon-table-remove:before {
  content: "\e61a";
}

.icon-painter:before {
  content: "\e61b";
}

.icon-heading-h1:before {
  content: "\e600";
}

.icon-heading-h2:before {
  content: "\e601";
}

.icon-bold:before {
  content: "\e602";
}

.icon-heading-h4:before {
  content: "\e603";
}

.icon-image:before {
  content: "\e604";
}

.icon-italic:before {
  content: "\e605";
}

.icon-heading-h6:before {
  content: "\e606";
}

.icon-paragraph:before {
  content: "\e607";
}

.icon-list-disorder:before {
  content: "\e608";
}

.icon-code-block:before {
  content: "\e609";
}

.icon-text-align-center:before {
  content: "\e60a";
}

.icon-redo:before {
  content: "\e60b";
}

.icon-undo:before {
  content: "\e60c";
}

.icon-list-order:before {
  content: "\e60d";
}

.icon-table-add:before {
  content: "\e60e";
}

.icon-strikethrough:before {
  content: "\e60f";
}

.icon-heading-h3:before {
  content: "\e610";
}

.icon-text-align-justify:before {
  content: "\e611";
}

.icon-link:before {
  content: "\e612";
}

.icon-table:before {
  content: "\e613";
}

.icon-text-align-left:before {
  content: "\e614";
}

.icon-heading-h5:before {
  content: "\e615";
}

.icon-text-align-right:before {
  content: "\e616";
}

.icon-bg-color:before {
  content: "\e617";
}

.icon-code-inline:before {
  content: "\e618";
}

.icon-font-color:before {
  content: "\e619";
}

.icon-add-account:before {
  content: "\e741";
}

.icon-certified-supplier:before {
  content: "\e747";
}

.icon-assessed-badge:before {
  content: "\e744";
}

.icon-email:before {
  content: "\e74f";
}

.icon-password:before {
  content: "\e75b";
}

.icon-shuqian:before {
  content: "\e624";
}

.icon-caidan:before {
  content: "\e790";
}

